.trakin-animation{  
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.track-text{
    margin-top: 0;
    font-size: xx-large;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: 500;
    
}
.tracking-container{
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 50%;
    border: solid;
}
.track-heading{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: left;
}
progress{
    width: 100%;
    height: 60px;
}


@media (max-width: 750px) {
    .track-heading{
        margin-top: 150px;
    }
}